<nav>
  <ul class="nav__list">
    <li class="nav__list--item">
      <a routerLinkActive="selected" routerLink="/dashboard"> Dashboard </a>
    </li>
    <li routerLinkActive="selected" class="nav__list--item">
      <a routerLinkActive="selected" routerLink="/gallery"> Gallery </a>
    </li>
    <li routerLinkActive="selected" class="nav__list--item">
      <a routerLinkActive="selected" routerLink="/crud"> CRUD </a>
    </li>
    <li routerLinkActive="selected" class="nav__list--item">
      <a routerLinkActive="selected" routerLink="/profile"> Profile </a>
    </li>
  </ul>
</nav>
