<div class="login">
  <div class="login__wrapper">
    <mat-card class="flex-row-center">
      <mat-card-content class="login__mat-card-content">
        <mat-icon
          fontIcon="sentiment_very_satisfied"
          class="login__icon"
        ></mat-icon>
        <h2 class="login__title">Welcome</h2>
        <form class="login__form">
          <mat-form-field>
            <mat-label>Email:</mat-label>
            <input matInput [formControl]="email" placeholder="master@lemoncode.net"/>
            <mat-error *ngIf="email.invalid">{{getErrorEmailMessage()}}</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Password:</mat-label>
            <input matInput [formControl]="password" placeholder="12345678" />
            <mat-error *ngIf="password.invalid">{{getErrorPasswordMessage()}}</mat-error>
          </mat-form-field>
          <button type="submit" mat-flat-button color="primary">Login</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
