<div class="wrapper__container">
  <h2 class="title flex-row-center">Welcome to my Angular Project</h2>
  <p>This project was created to practice the following Angular topics:</p>
  <ul>
    <li>CLI for creating components and services</li>
    <li>Adding Angular Material to the project</li>
    <li>Designing the complete layout of an application</li>
    <li>Programming a service to manage the application state</li>
    <li>Injection of services</li>
    <li>Routing</li>
    <li>Form handling</li>
  </ul>
</div>
