<div class="wrapper__container">
  <h2 class="title flex-row-center">Welcome to my Angular Project</h2>
  <p>Este proyecto se realizo para practicar los siguientes temas de Angular</p>
  <ul>
    <li>CLI para crear componentes y servicios</li>
    <li>Añadir Angular Material al proyecto</li>
    <li>Diseño del layout completo de una aplicación</li>
    <li>Programación de un servicio para gestion el estado de la aplicación</li>
    <li>Inyección de servicios</li>
    <li>Routing</li>
    <li>Formulario</li>
  </ul>
</div>
