// Material Angular styles
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Material Angular styles

// Global variables
$color-primary : indigo;
$color-accent: #f64081;
// Global variables

// Menu styles
.toolbar {
  display: flex;
  justify-content: space-between;
}

.title__container {
  column-gap: 20px;

  & .material-symbols-outlined {
    font-size: 40px !important;
    width: 100%;
    height: 100%;
  }
}

.nav__container {
  justify-items: center;
  column-gap: 12px;

  & p {
    font-size: 12px;
    margin-bottom: 0px;
  }
}

.nav__list {
  display: flex;
  column-gap: 20px;
  font-size: 18px;
  list-style: none;
  padding-inline-start: 0;

  &--item a {
    color: white;
    text-decoration: none;
  }
}

.selected {
  color: $color-primary !important;
}

// Menu styles