// Material Angular styles
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
// Material Angular styles

// Global variables
$color-primary : indigo;
$color-accent: #f64081;
// Global variables

// Menu styles
.toolbar {
  grid-area: header !important;
  display: flex;
  justify-content: space-between;

  & .material-symbols-outlined {
    font-size: 40px !important;
  }
}

.title__container {
  column-gap: 20px;
}

.nav__list {
  display: flex;
  column-gap: 20px;
  font-size: 18px;
  list-style: none;

  &--item a {
    color: white;
    text-decoration: none;
  }
}

.selected {
  color: $color-primary !important;
}
// Menu styles
